.input {
    border: 1px solid #e8e8e8;
    border-radius: 7px;
    margin: 10px 0;
    padding: 15px;
    width: 100%;
  }

  .validation-error {
    color: red;
    font-size: 12px;
    margin-bottom:20px
}