.add-word-form {
  margin: auto;
  padding: 30px;
  width: 700px;
  background-color: rgb(248, 249, 250);
}
.add-synonym-button-wrapper {
  text-align: right;
}

.add-word-button-wrapper {
  text-align: center;
}

.add-word-button-wrapper button {
  width: 50%;
}

.synonyms-wrapper {
  display: flex;
  flex-direction: row;
}

.input-synonyms {
  flex-grow: 1;
}

.button-synonyms {
  height: 100%;
  width: 100px;
  margin: 10px 0;
  padding: 10px;
}
